extends layout

block content
  ul
    li
      a(href="/") Back
    li
      a(href="/video/"+video.id)= video.path

  form(action="/encode/"+video.id method="POST")
    button(type="submit") Encode
